<% layout('layouts/boilerplate') %>
 

  <div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-4">
  <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" required class="form-control" name="campground[title]" id="Title" value="<%= campground.title %>">
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" required class="form-control" name="campground[location]" id="Location" value="<%= campground.location %>">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input type="file" name="image" id="image" multiple>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" required class="form-control" name="campground[description]" id="description"value="<%= campground.description %>">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" required class="form-control" name="campground[price]" id="price" value="<%= campground.price %>">
      </div>
      <div class="mb-3">
        <% campground.image.forEach(function(img,i) {%>
            <img src="<%=img.thumbnail%> " class="img-thumbnail" alt="">
            <!-- thumbnail is property used by cloudinary API see models campground.js -->

            
        <div class="form-check-inline">
          <input type="checkbox" id="image-<%=i%>"  name="deleteImages[]" value="<%=img.filename%>">`
           <label for="image-<%=i%>">Delete?</label>

        <% }) %> 


        </div>
       
      </div>

      <button class="btn btn-primary" type="submit">Add</button>

      
   
    <a href="/campgrounds">Back to Index</a>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {//bootstrap
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

