<% layout('layouts/boilerplate') %>
 

  <div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-4">
  <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" required class="form-control" name="campground[title]" id="Title" value="<%= campground.title %>">
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" required class="form-control" name="campground[location]" id="Location" value="<%= campground.location %>">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" required class="form-control" name="campground[image]" id="image" placeholder="Image URL" value="<%=campground.image %>">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" required class="form-control" name="campground[description]" id="description"value="<%= campground.description %>">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" required class="form-control" name="campground[price]" id="price" value="<%= campground.price %>">
      </div>

      <button class="btn btn-primary" type="submit">Add</button>

      
   
    <a href="/campgrounds">Back to Index</a>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {//bootstrap
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

